# Virtual environment
.venv/

# Dataset
data/

# Saved models
models/

# Results
results/

# Personal test images (privacy)
my_test_data/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db